<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yhhy.dao.EmployeeDao">
	
	<!-- public List<Employee> getAllEmp(); -->
	<select id="getAllEmp" resultType="com.yhhy.bean.Employee">
		SELECT id,lastname,email,gender FROM employee
	</select>

	<!--新增员工信息-->
	<insert id="addEmpInfo">
		INSERT INTO employee(lastname,email,gender)VALUES (#{lastname},#{email},#{gender})
	</insert>
	<!--删除员工信息-->
	<delete id="delEmpById">
		 DELETE FROM employee WHERE id = #{id}
	</delete>
	<!--获取某一条员工信息-->
	<select id="getOneInfoById" resultType="com.yhhy.bean.Employee">
		SELECT * FROM employee WHERE id = #{id}
	</select>
	<!--修改员工信息-->
	<update id="updateEmpById">
		UPDATE employee SET lastname = #{lastname},email = #{email},gender = #{gender} WHERE id = #{id}
	</update>
	
</mapper>