<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yhhy.dao.UserDao">
    <select id="getUserInfo" resultType="com.yhhy.bean.User">
        SELECT USER_ID,USERNAME,PASSWORD,STATUS  FROM user
        <where>
            USERNAME = #{username}
        </where>
    </select>
</mapper>